<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605394360153-8dpudg5ri6to73q9aleq8ajvtu3faf0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605394360153-8dpudg5ri6to73q9aleq8ajvtu3faf0k</string>
	<key>API_KEY</key>
	<string>AIzaSyCFW9qbK8_fYO9MaE4gb4pjahF3ucAdhpA</string>
	<key>GCM_SENDER_ID</key>
	<string>605394360153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SergeyTszyu.GitHubApp</string>
	<key>PROJECT_ID</key>
	<string>githubapp-b461f</string>
	<key>STORAGE_BUCKET</key>
	<string>githubapp-b461f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605394360153:ios:ea794edd7c725211a11e48</string>
</dict>
</plist>